html 
    head
        title Notatkor
    body
        h1 Zaloguj się, aby przejrzeć swoje notatki.
        form(action="/notatki" method="get")
            input(type="text" name="nazwa")
            input(type="submit" value="Zaloguj")